{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": "error",
    "no-multiple-empty-lines": "error",
    "no-trailing-spaces": "error",
    "padded-blocks": [
      "error",
      "never"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "object-curly-newline": [
      "error",
      {
        "multiline": true
      }
    ],
    "comma-spacing": "error",
    "indent": [
      "error",
      2
    ]
  }
}